.dm-page-container {
  height: calc(100vh - 120px);
  width: 100%;
  flex-grow: 1;
  margin-bottom: 30px;
}

.userList {
  flex: 0 0 220px;
  margin-right: var(--l);
}

.chatContainer {
  flex-grow: 1;
  overflow-x: hidden;
}
