.story:first-of-type {
  margin-top: 24px;
}

.story {
  position: relative;
  width: 300px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 64px;
  box-shadow: 2px 2px 5px #aaa;
}

.storyContent {
  font-size: 40px;
  margin: 8px;
}

.comment-and-like-button {
  display: flex;
  flex-direction: row;
}

.item {
  flex-grow: 1;
  text-align: center;

}
